body {
    margin: 0 0 0 0;
}

/* -------------------- START SCREEN -------------------- */

.container {
    background-color: blue;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window {
    background-color: red;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
}

.title {
    background-color: green;
    width: 62%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 500%;
    font-weight: bold;
}

.pressStart {
    background-color: yellow;
    margin-bottom: 20%;
    width: 35%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300%;
    font-weight: bold;
}

/* -------------------- SELECT SCREEN -------------------- */

.carList {
    display: flex;
    height: 18%;
    width: 95%;
    grid-template-columns: 13% 13% 13% 13%;
    background-color: white;
    justify-content: space-around;
    align-items: center;
}

.selectButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8%;
    width: 22%;
    background-color: yellow;
    font-size: 5em;
    font-weight: bold;
}

.carSelected {
    display: flex;
    height: 40%;
    width: 95%;
    background-color: white;
    color: #444;
    align-items: center;
    justify-content: center;
}

.carSelect {
    background-color: blue;
    height: 50%;
    width: 15%;
    font-size: 5em;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carSelected1, .carSelected2 {
    background-color: greenyellow;
    height: 95%;
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
}

.carSelected1 {
    background-color: cyan;
}
.carSelected2 {
    background-color: pink;
}

.carAtributes {
    background-color: orange;
    height: 95%;
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
}

.carAtributesInner1 {
    background-color: blue;
    height: 49%;
    width: 98%;
    border-radius: 0 20% 20% 0;
}

.carAtributesInner2 {
    background-color: purple;
    height: 49%;
    width: 98%;
    border-radius: 20% 0 0 20%;
}

/* -------------------- RACE SCREEN -------------------- */

.racingScreen {
    background-color: aqua;
    height: 70%;
    width: 80%;
}

.raceScreenButtons {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 80%;
    align-items:center;
    justify-content: space-around;
}

.finishButton, .raceButton {
    background-color: orange;
    height: 50%;
    width: 30%;
    font-size: 5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items:center;
}

.raceButton {
    background-color: white;

}

/* -------------------- VICTORY SCREEN -------------------- */

.victoryScreen {
    background-color: white;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;

}

.victoryImage {
    background-color: blueviolet;
    height: 70%;
    width: 80%;
}

.victoryButton {
    background-color: green;
    height: 16%;
    width: 40%;
    font-size: 6em;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.carImg {
max-width: 100%;
height: auto;
}


.carSelectGray {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}